*{
  font-family: 'Open Sans', sans-serif;
}
body{
  margin: 0px;
}
.form{
  text-align: center;
  font-size: 20px;
}

#back {
  background-color: #eee4f1;
  border-radius: 7px;
  overflow: hidden;
}
.header_s{
  background-color: #9C8AA5;
}
.input{
  width: 250px;
  height: 35px;
  font-size: 20px;
  color:#AE89AF;
  margin: 10px;
  border-radius: 5px;
  border:1px solid #666;
}
.input_short{
  width: 150px;
  height: 35px;
  font-size: 20px;
  color:#AE89AF;
  margin: 10px;
  border-radius: 5px;
  border:1px solid #666;
}

.button{
  width: 150px;
  height: 50px;
  margin: 10px;
  border: 2px;
  border-radius: 4px;
  background-color: #AE89AF;
  opacity: 1;
  color: white;
}

.button:hover{
  opacity: 0.7;
  color: #000;
}
.registration input[type="text"]{
  display: block; 
  width:90%; 
  padding: 10px; 
  border:1px solid #DDD; 
  color:#666;
}
.profile_title{
  background-color: #9C8AA5;
  color: #ffffff;
}


















